html{
    background-color:darkslategray;
    font-family:'Roboto', sans-serif;
}
img {
    display: block;
}
h1 {
    font-size: 60px;
    text-align: center;
}
p, li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}
.bold{
    font-weight:bold;
}
li.bold{
    font-style:italic;
    color:rgb(142, 226, 194);
}
p.bold{
    text-transform: capitalize;
}
body{
    background-color:lightslategray;
    width: 1200px;
    margin: 0 auto;
}
div.bluebox {
    
}